:root {
	--content-width: 100%;
	--demo-width: 350px;
	--back-to-top-z-index: 5;
	--back-to-top-color: #3eaf7c;
	--back-to-top-color-hover: #71cda3;
}

.custom-page {
	.theme-default-content {
		> div {
			display: flex;
			flex-wrap: wrap;
		}
		@media (max-width: 1200px) {
			& {
				flex-direction: column;
			}
		}
	}
	.custom-container {
		&.doc {
			flex: 2;
		}
		&.demo {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media screen and (max-width: 1200px) {
	.custom-container {
		&.doc {
			zoom: 0.8;
		}
	}
}
.theme-default-content {
	margin: 0px !important;
	max-width: 100% !important;
}
.full-page {
	.page {
		padding: 0px;
	}
	.page-meta {
		padding: 0px;
		margin: 0px;
	}
	.theme-default-content {
		padding: 0px !important;
	}
}

nav.table-of-contents {
	position: fixed;
	right: 1.5rem;
	width: 200px;
	top: 100px;
	li::marker {
		color: var(--c-text-accent);
	}
}
/**
 * 首页
 */
.site-home {
	--footer-height: 60px;
	@media (max-width: 419px) {
		.home-wrap {
			padding-left: 1.5rem !important;
			padding-right: 1.5rem !important;
		}
		.home-wrap {
			.content {
				flex-direction: column !important;
				width: auto !important;
				flex: 1 !important;
			}
			.left {
				padding-top: 40px;
			}
		}
		.link-wrap {
			padding-bottom: 10px;
			margin-top: 10px !important;
		}
	}

	.home {
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.home-wrap {
		background: url('/images/bg.svg') center center / cover no-repeat;
		//总高度-头部菜单-底部高度-底部边框
		min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 1px);
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap:20px;
		.content {
			width: 70%; //var(--homepage-width);
			display: flex;
			flex-direction: row;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 2px;
			& > div {
				flex: 1;
			}
			.left {
				.tag-list {
					display: flex;
					flex-direction: row;
					.tag {
						background-color: var(--c-text-accent);
						color: white;
						border-radius: 10px;
						padding: 4px 6px;
						margin-right: 4px;
						font-size: 10px;
					}
				}
			}
			.right {
			}
			.col3{
				padding-left:50px
			}
		}
		.link-wrap {
			margin-top: 40px;
			.item {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				font-size: 12px;
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
	.footer {
		height: var(--footer-height);
		padding: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
