<template>
	<div class="demo-wrap">
		<div class="wrap-content">
			<iframe class="iframe" scrolling="auto" frameborder="0" :src="href" id="demo-wrap"></iframe>
		</div>
	</div>
</template>

<script>
	export default {
		name:'demo',
		props: {
			url: {
				type: String,
				default: '/'
			}
		},
		data() {
			return {
				domain: '/demo/newui/index.html#'
			}
		},
		computed: {
			href() {
				const {
					url,
					domain
				} = this
				if (url.indexOf('http://') === 0) {
					return this.url
				}
				return `${domain}${url}`
				}
		},
	}
</script>

<style scoped>
	.demo-wrap {
		font-size: 16px;
		background-color: #fff;
		width: 330px;
		position: fixed;
		/* z-index: 10; */
		margin: 0;
		top: 100px;
		box-sizing: border-box;
		overflow-y: auto;
		/* background-image: url(/iPhone_model.png); */
		background-image: url('/images/iPhone13.png');
        background-repeat: no-repeat;
		background-size: 100%;
		/* box-shadow: 0 4px 25px 0 rgba(4, 40, 60, 0.18); */
		border-radius: 30px;
		padding: 48px 23px 38px 16px;
	}
	.wrap-content {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border-bottom-left-radius: 30px;
	}
	.iframe {
		height: 100%;
		width: 100%;
		border-radius: 30px;
	}
	@media screen and (min-width: 1200px) {
		.demo-wrap {
			width: 310px;
			height: calc(310px * 143.6 / 70.9);
		}
		.demo-wrap {
			/* top: calc(100vh - 57px); */
		}
	}
	@media (max-width: 1200px) {
		.demo-wrap {
			/* display: none; */
			position: relative;
			height: calc(340px * 143.6 / 70.9);
			/* z-index: inherit; */
		}
	}
	@media screen and (min-width: 1366px) {
		.demo-wrap{
			width: 270;
			height: calc(270px * 143.6 / 70.9);
		}
	}
	@media screen and (min-width: 1500px) {
		.demo-wrap {
			width: 310px;
			height: calc(310px * 143.6 / 70.9);
		}
	}
	@media screen and (min-width: 1920px) {
		.demo-wrap {
			width: 350px;
			height: calc(350px * 143.6 / 70.9);
		}
	}
</style>