<template>
	<section class="comments-wrap">
		<h2 v-if="valine">意见/建议：</h2>
		<div id="vcomments"></div>
	</section>
</template>
<script>
export default {
	name: 'valine',
	data() {
		return {
			valine: null
		};
	},
	mounted: function() {
		import('valine').then(module => {
			const valine = module.default;
			this.valine = valine;
			const pathname = window.location.pathname;
			new valine({
				el: '#vcomments',
				appId: 'WJwq00syMaMn5OqlTqoNJwJa-gzGzoHsz',
				appKey: 'r3r8bzsGCQantUdpPRo8zVik',
				notify: false,
				verify: false,
				path: pathname,
				visitor: false,
				avatar: 'monsterid',
				placeholder: '您有什么好的想法？请告诉给我，让我们一起改变这个世界~',
				meta: ['nick', 'mail'],
				requiredFields: ['nick', 'mail'],
				avatarForce: false,
				enableQQ: false
			});
		});
	}
};
</script>
<style>
.comments-wrap {
	margin-top: 1rem;
	float: left;
	width: 100%;
	clear: both;
}
.vpower,
.vsys {
	display: none !important;
}
</style>
